<ion-app class="md">
  <ion-header>
    <ion-toolbar>
      <div id="toolbar">
      <h5 id="naming5">purchase</h5>
      <ion-button (click)="godash()" id="login" fill="clear">
        <h3 id="dash">Cancel</h3>
      </ion-button>
    </div>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-text id="ndes">
    <h1 id="naming1">kiv</h1>
    <h1 id="naming2">condition</h1>
    <h1 id="naming1">jordan</h1>
    <h1 id="naming1">fila</h1>
    <h1 id="naming1">Under</h1>
    <h1 id="naming1">Armour</h1>
    <h1 id="naming1">Nike</h1>
    <h1 id="naming1">Nike</h1>
  </ion-text>
  <div id="ndes2">

  </div>
  <br><br><br>
    <div id="container">
      <div id="items1">
        <img id="pics1" src="../../assets/pics/pinkn.png">
        <div id="bottombg">
          <h3 class="ttext">nike air pink edition 250$</h3>
        </div>
      </div>
      <div id="items1">
        <img id="pics1" src="../../assets/pics/top.png">
        <div id="bottombg">
          <h3 class="ttext">Top View</h3>
        </div>
      </div>
      <div id="items1">
        <img id="pics1" src="../../assets/pics/back.png">
        <div id="bottombg">
          <h3 class="ttext">Back View</h3>
        </div>
      </div>
      <div id="check">
        <ion-icon id="gcheck" name="sad-outline"></ion-icon>
        <h3 class="btext">Used - Fair </h3>
        <h3 class="atext">reference number: #76354 </h3>
        <h3 id="ctext">Name: Jordan Air pink 1</h3>
        <h3 id="ctext">Price: 250$</h3>
      </div>
  </div>
  <br><br><br><br>
  <ion-text id="ndes3">
    <h1 id="naming1">bip</h1>
    <h1 id="naming3">location</h1>
    <h1 id="naming1">jordan</h1>
    <h1 id="naming1">fila</h1>
    <h1 id="naming1">Under</h1>
    <h1 id="naming1">Armour</h1>
    <h1 id="naming1">Nike</h1>
    <h1 id="naming1">Nike</h1>
  </ion-text>
  <div id="ndes4">

  </div>
  <br><br><br><br>
  <div id="container">
    <div id="items1">
      <img id="pics1" src="../../assets/pics/fampark.png">
      <div id="bottombg1">
        <h3 class="etext">Valenzuela Family Park</h3>
        <ion-button id="login1">
          <h3 class="ftext">Notify</h3>
        </ion-button>
      </div>
    </div>
    <div id="items1">
      <img id="pics1" src="../../assets/pics/mcdo.png">
      <div id="bottombg1">
        <h3 class="etext">Mcdonalds Malinta</h3>
        <ion-button id="login1">
          <h3 class="ftext">Notify</h3>
        </ion-button>
      </div>
    </div>
    <div id="items1">
      <img id="pics1" src="../../assets/pics/moa.png">
      <div id="bottombg1">
        <h3 class="etext">Sm Mall of Asia</h3>
        <ion-button id="login1">
          <h3 class="ftext">Notify</h3>
        </ion-button>
      </div>
    </div>
    <div id="check1">
      <ion-icon id="gcheck1" name="compass-outline"></ion-icon>
      <h3 class="gtext">Meet-up Area</h3>
      <h3 class="itext">Location: SM mall of asia </h3>
      <ion-button id="login2" (click)="goreceipt()">
        <h3 class="htext">Purchase</h3>
      </ion-button>
    </div>
</div>
  <br><br><br>
</ion-content>
<ion-footer>
  <ion-text>Popshop.co/</ion-text><ion-text id="shwaps">shwaps</ion-text>
  <br>
</ion-footer>
</ion-app>

