@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

ion-label{
    font-size: 16px;
}
ion-tabs{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
ion-tab-bar{
    background-color: whitesmoke;
}
ion-tab-button{
    background-color: whitesmoke;
    --ripple-color: gray;
}


