<ion-app class="md">
  <ion-header>
    <ion-toolbar>
      <div id="toolbar">
      <h5 id="naming5">Receipt</h5>
      <ion-button (click)="godash()" id="login" fill="clear">
        <h3 id="dash">Dashboard</h3>
      </ion-button>
    </div>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-text id="ndes">
    <h1 id="naming1">NiB</h1>
    <h1 id="naming2">Receipt</h1>
    <h1 id="naming1">adidas</h1>
    <h1 id="naming1">puma</h1>
    <h1 id="naming1">Under</h1>
    <h1 id="naming1">Armour</h1>
    <h1 id="naming1">Nike</h1>
    <h1 id="naming1">Nike</h1>
  </ion-text>
  <div id="ndes2">

  </div>
  <br>
  <br>
    <div id="container">
      <div id="items1">
        <img id="pics1" src="../../assets/pics/pinkn.png">
        <h3 class="ttext">nike air pink edition 250$</h3>
      </div>
      <div id="check">
        <ion-icon id="gcheck" name="checkmark-circle-outline"></ion-icon>
        <h3 class="btext">Transaction Successful!</h3>
        <h3 class="atext">reference number: #76354 </h3>
        <h3 id="ctext">meet-up: <ion-icon id="loc" name="location-outline"></ion-icon>Jollibee Malanday, Valenzuela City</h3>
      </div>
  </div>
  <br><br><br><br><br><br>
</ion-content>
<ion-footer>
  <ion-text>Popshop.co/</ion-text><ion-text id="shwaps">shwaps</ion-text>
  <br>
</ion-footer>
</ion-app>

