<ion-app class="md">
  <ion-header>
    <ion-toolbar>
      <h1 id="naming5">listings</h1>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-text id="ndes1">
    <h1 id="naming1">mip</h1>
    <h1 id="naming2">listed</h1>
    <h1 id="naming1">adidas</h1>
    <h1 id="naming1">puma</h1>
    <h1 id="naming1">Under</h1>
    <h1 id="naming1">Armour</h1>
    <h1 id="naming1">Nike</h1>
    <h1 id="naming1">Nike</h1>
  </ion-text>
  <br><br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/spidey.png">
          <h4>Spiderman</h4>
        <br>
        <div id="buttonf">
          <ion-button id="login">
            <h3>edit</h3>
          </ion-button>
          <ion-button id="login1">
            <h3>delete</h3>
          </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/brownf.png">
          <h4>Vans Brown</h4>
        <br>
        <div id="buttonf">
          <ion-button id="login">
            <h3>edit</h3>
          </ion-button>
          <ion-button id="login1">
            <h3>delete</h3>
          </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/nikesand.png">
          <h4>Nike sand</h4>
        <br>
        <div id="buttonf">
          <ion-button id="login">
            <h3>edit</h3>
          </ion-button>
          <ion-button id="login1">
            <h3>Delete</h3>
          </ion-button>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/yellowc.png">
          <h4>Converse Y</h4>
        <br>
        <div id="buttonf">
          <ion-button id="login">
            <h3>edit</h3>
          </ion-button>
          <ion-button id="login1">
            <h3>Delete</h3>
          </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-text id="ndes2">
    <h1 id="naming3">gup</h1>
    <h1 id="naming4">Sellform</h1>
    <h1 id="naming3">Aoath</h1>
    <h1 id="naming3">puma</h1>
    <h1 id="naming3">Under</h1>
    <h1 id="naming3">Armour</h1>
    <h1 id="naming3">Nike</h1>
    <h1 id="naming3">Nike</h1>
  </ion-text>
  <br><br><br>
    <ion-item id="forms">
      <ion-label position="stacked"><h2>title</h2></ion-label>
      <br>
      <ion-input id="email" 
                  placeholder="Enter Title" 
                  value="" 
                  name="Title">
      </ion-input>
    </ion-item>
    <ion-item id="forms1">
      <ion-label position="stacked"><h2>price</h2></ion-label>
      <br>
      <ion-input id="price" 
                  placeholder="Enter price" 
                  value="" 
                  name="price">
      </ion-input>
    </ion-item>
    <br>
    <div id="desc">
    <ion-label position="stacked"><h5>description</h5></ion-label>
    <ion-textarea class="custom-textarea" 
                  placeholder="Type description here"></ion-textarea>
    </div>
    <br>
    <div id="desc">
    <ion-label position="stacked"><h5>upload photo</h5></ion-label>
    <br>
    <div id="picplacehold">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
    </div>
    <br><br>
</ion-content>
</ion-app>

