<ion-app class="md">
  <ion-header>
    <ion-toolbar>
      <h1 id="naming5">Dashboard</h1>
    </ion-toolbar>
  </ion-header>
<ion-content id="grids">
  <ion-text id="ndes">
    <h1 id="naming1">NiB</h1>
    <h1 id="naming2">Dashboard</h1>
    <h1 id="naming1">adidas</h1>
    <h1 id="naming1">puma</h1>
    <h1 id="naming1">Under</h1>
    <h1 id="naming1">Armour</h1>
    <h1 id="naming1">Nike</h1>
    <h1 id="naming1">Nike</h1>
  </ion-text>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/colorful.png">
          <h3>kobe</h3>
        </div>
        <br>
        <div>
          <ion-button id="login" (click)="receipt()">
            <h3>Transact</h3>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/converse.png">
          <h3>Converse</h3>
        </div>
        <br>
        <div>
          <ion-button id="login" (click)="receipt()">
            <h3>Transact</h3>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/whitenike.png">
          <h3>Nike Air</h3>
        </div>
        <br>
        <div>
          <ion-button id="login" (click)="receipt()">
            <h3>Transact</h3>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics" src="../../assets/pics/nikegold2.png">
          <h3>travis</h3>
        </div>
        <br>
        <div>
          <ion-button id="login" (click)="receipt()">
            <h3>Transact</h3>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
            <img id="pics" src="../../assets/pics/jordan1.png">
            <h3>jordan</h3>
        </div>
        <br>
            <div>
              <ion-button id="login" (click)="receipt()">
                <h3>Transact</h3>
              </ion-button>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-text id="ndes2">
    <h1 id="naming3">gup</h1>
    <h1 id="naming4">Brands</h1>
    <h1 id="naming3">Aoath</h1>
    <h1 id="naming3">puma</h1>
    <h1 id="naming3">Under</h1>
    <h1 id="naming3">Armour</h1>
    <h1 id="naming3">Nike</h1>
    <h1 id="naming3">Nike</h1>
  </ion-text>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="items1">
          <img id="pics1" src="../../assets/pics/tasics.png">
          <h2>asics</h2>
          <br><br><br>
          <div class="bottombg1">
            <ion-button fill="clear" id="button2">
              <h3 class="atext">Proceed</h3>
            </ion-button>
          </div>
        </div>
        <br>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics1" src="../../assets/pics/puma.png">
          <h2 class="dif">puma</h2>
          <br><br><br>
          <div class="bottombg">
            <ion-button fill="clear" id="button2">
              <h3 class="btext">Proceed</h3>
            </ion-button>
          </div>
        </div>
        <br>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div id="items1">
          <img id="pics1" src="../../assets/pics/zoom.png">
          <h2>skec</h2>
          <br><br><br>
          <div class="bottombg1">
            <ion-button fill="clear" id="button2">
              <h3 class="atext">Proceed</h3>
            </ion-button>
          </div>
        </div>
        <br>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div id="items">
          <img id="pics1" src="../../assets/pics/vans.png">
          <h2 class="dif">Vans</h2>
          <br><br><br>
          <div class="bottombg">
            <ion-button fill="clear" id="button2">
              <h3 class="btext">Proceed</h3>
            </ion-button>
          </div>
        </div>
        <br>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div id="items1">
            <img id="pics1" src="../../assets/pics/jbrand.png">
            <h2>Nike</h2>
            <br><br><br>
          <div class="bottombg1">
            <ion-button fill="clear" id="button2">
              <h3 class="atext">Proceed</h3>
            </ion-button>
          </div>
        </div>
        <br>
            <div>
              <br>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
</ion-app>
