<ion-app class="md">
<ion-content id="nikeyellowblack">
    <div id="Nike" class="ion-padding">
      <h1 id="naming">Nike</h1>
    </div>
    <div id="Air">
      <h1 id="naming">AIR</h1>
    </div>
</ion-content>

<div id="ndes">
<h1 id="naming1">armoir</h1>
<h1 id="naming1">kc</h1>
<h1 id="naming2">LOGIN</h1>
<h1 id="naming1">asics</h1>
<h1 id="naming1">ckecher</h1>
<h1 id="naming1">converse</h1>
<h1 id="naming1">balance</h1>
</div>

<ion-content id="forms" class="forms">
  <ion-item>
    <form [formGroup]="RegisterForm" id="formi">
    <ion-label position="stacked"><h2>Email</h2></ion-label>
    <br>
    <ion-input id="email" 
                placeholder="Enter Email" 
                value="" 
                name="email"
                type="Email" 
                ngModel email
                [(ngModel)]="valuefromuser"
                formControlName="name">
    </ion-input>
    </form>
  </ion-item>
  <ion-text *ngIf="RegisterForm.get('name').hasError('required') && 
      RegisterForm.get('name').touched">
      <h4>Email shouldn't be empty</h4>
  </ion-text>
  <ion-item>
    <form [formGroup]="RegisterForm1" id="formi1">
    <ion-label position="stacked"><h2>Password</h2></ion-label>
    <br>
    <ion-input id="pass" 
               name="password" 
               placeholder="Enter Password" 
               value="" 
               [(ngModel)]="valuefromusera"
               formControlName="name1"
               type="Password"></ion-input>
    </form>
  </ion-item>
  <ion-text *ngIf="RegisterForm1.get('name1').hasError('required') && 
      RegisterForm1.get('name1').touched">
      <h4>Password shouldn't be empty</h4>
  </ion-text>
  <ion-text *ngIf="RegisterForm1.get('name1').hasError('minlength') && 
      RegisterForm1.get('name1').touched">
      <h4>minumum of 6 characters</h4>
  </ion-text>
  <ion-text *ngIf="RegisterForm1.get('name1').hasError('maxlength') && 
  RegisterForm1.get('name1').touched">
  <h4>maximum of 12 characters</h4>
</ion-text>
  <br>
  <ion-button id="link" fill="clear">Forgot Password?</ion-button>
  <br>
  <ion-button id="link" (click)="regsubmit()" fill="clear">Register?</ion-button>
  <br><br>
  <ion-button id="login" (click)="formsubmit()" [disabled]="RegisterForm.invalid">
    <h3>Login</h3>
  </ion-button>
  <br><br>
</ion-content>
<ion-footer>
  <ion-text id="shwaps1">Popshop.co/</ion-text><ion-text id="shwaps">shwaps</ion-text>
  <br>
</ion-footer>
</ion-app>


