<ion-app class="md">
  <ion-header>
    <ion-toolbar>
      <div id="toolbar">
        <h1 id="naming5">Account</h1>
        <ion-button (click)="golog()" id="login1" fill="clear">
          <h6 id="dash">Log out</h6>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-text id="ndes1">
    <h1 id="naming1">NiB</h1>
    <h1 id="naming2">who</h1>
    <h1 id="naming1">areyou</h1>
    <h1 id="naming1">puma</h1>
    <h1 id="naming1">Under</h1>
    <h1 id="naming1">Armour</h1>
    <h1 id="naming1">Nike</h1>
    <h1 id="naming1">Nike</h1>
  </ion-text>

  <div id="cover">
    <div id="avatar">
      <img id="kludypic" src="../../assets/pics/kludy.jpg">
    </div>
  </div>
  <br>
  <br>
  <div id="conname">
  <div id="name">
    <h2>Ramirez</h2>
    <h3><ion-icon id="pin" name="pin-outline"></ion-icon>Valenzuela City</h3>
  </div>
  <br>
    <ion-button id="login">
      <ion-icon id="heart" name="heart-outline"></ion-icon></ion-button>
  </div>

  <ion-text id="ndes2">
    <h1 id="naming3">mp</h1>
    <h1 id="naming6">Tran</h1>
    <h1 id="naming7">sact</h1>
    <h1 id="naming3">ions</h1>
    <h1 id="naming3">wrath</h1>
    <h1 id="naming3">fila</h1>
    <h1 id="naming3">skechers</h1>
    <h1 id="naming3">Nike</h1>
  </ion-text>
<br><br><br>
  <div id="counter">
    <div id="counter1">
      <h4>61</h4>
      <h5>successful</h5>
    </div>
    <div id="counter2">
      <h4>24</h4>
      <h5 id="listed">Listed</h5>
      
    </div>
    <div id="counter3">
      <h4>9</h4>
      <h5 id="failed">Failed</h5>
    </div>
  </div>
  <br>
  <br>
  <br>
  <ion-text id="ndes2">
    <h1 id="naming3">gup</h1>
    <h1 id="naming4">Cash$</h1>
    <h1 id="naming3">mkechers</h1>
    <h1 id="naming3">converse</h1>
    <h1 id="naming3">Armour</h1>
    <h1 id="naming3">jordan</h1>
  </ion-text>
  <br>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="items1">
          <img id="pics1" src="../../assets/pics/vanstripe.png">
          <h2 id="h2">Top1</h2>
          <br><br><br>
          <div class="bottombg1">
            <ion-button fill="clear" id="button2">
              <h6 class="atext">Blue-striped vans</h6>
            </ion-button>
          </div>
        </div>
        <br>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div id="items1">
          <img id="pics1" src="../../assets/pics/flamev.png">
          <h2 id="h2">Top2</h2>
          <br><br><br>
          <div class="bottombg1">
            <ion-button fill="clear" id="button2">
              <h6 class="atext">flaming vans</h6>
            </ion-button>
          </div>
        </div>
        <br>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div id="items1">
          <img id="pics1" src="../../assets/pics/redc.png">
          <h2 id="h2">Top3</h2>
          <br><br><br>
          <div class="bottombg1">
            <ion-button fill="clear" id="button2">
              <h6 class="atext">Hi-cut Bright Red</h6>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br><br>
</ion-content>
</ion-app>

